[user]
    name = Vijay Lakshminarayanan
[color]
    ui = auto
[merge]
    tool = emerge
[mergetool "emerge"]
    path = /home/vijay/bin/emerge-for-git
[apply]
    whitespace = error
[core]
    whitespace = trailing-space,tab-in-indent
    autocrlf = false
    eol = lf
