[user]
	name = Vijay Lakshminarayanan
[color]
	ui = true
[merge]
	tool = emerge
[mergetool "emerge"]
	path = $HOME/bin/emerge-for-git
[reviewboard]
	url = http://rb
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[grep]
    lineNumber = true
